{% extends 'base.html' %}
{% load cloudinary %}
{% block content %}
  <div class="container">
    {% if profiling %}
    {% for pro in profiling %}
    <div class="row">
      <img style="width: 80rem;" src="{{image.post}}" alt="">
    </div>
    <div class="row">
      <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
        <img src="{{pro.profile_photo.url}}" alt="" class="responsive" style="width: 40px; height:40px;margin-top:10px;margin-bottom:10px;; border:2px hidden; border-radius: 50%;">
      </div>
      <div class="col-xs-9 col-sm-9 col-md-9 col-lg-9">

      </div>
      <div class="card container-fluid" style="border:hidden;">
        <div class="card-body">
          <h3><strong>Bio</strong></h3>
          <p>{{pro.bio}}</p>
        </div>
      </div>
    </div>
    {% endfor %}
    {% else %}
    <h1>You need to update your profile by clicking profile on the navbar.</h1>
    {% endif %}
      <div class="container">
        <div class="row" style="display:flex;">
          {% if posts %}
          {% for p in posts %}
          <div class="column-md-4 column-sm-4 column-xs-4 column-lg-4" style="float:left; width:33.33%;padding: 5px;">
            <a href="/picture/{{p.id}}">
            <img src="{{p.image.url}}" alt="" class="img-fluid" >
            </a>
          </div>
          {% endfor %}
          {% else %}
          <h1 class="mt-10">You don't have any posts,sorry.</h1>
          {% endif %}
        </div>
      </div>
  </div>

{% endblock %}
